body{
background-image: url(../Admins/school.jpg);
background-repeat: no-repeat;
background-position: center center;
background-size: cover;
}
.active {
    color:red;
}
.gridnavigation{
    display:grid;
    grid-template-columns: 4cm 4cm 4cm 12cm 12cm 4cm;
    grid-template-rows: 1.5cm 1.5cm 1.5cm 1.5cm 1.5cm 1.5cm 1.5cm 1.5cm 1.5cm;
}
.aaa{
    grid-row:1;
    grid-column: 1/6;
    text-align: left;
    background-color: blueviolet;
}
.baa{
    grid-row: 2;
    grid-column: 1/6;
    text-align: left;
    background-color: chartreuse;
}
.caa{
    grid-row:3;
    grid-column:1;
    text-align: center;
    background-color: darkgoldenrod;
}
.daa{grid-row:4;
    grid-column:1;
    text-align: center;
    background-color: darkred;
}
.eaa{grid-row:5;
    grid-column:1;
    text-align: center;
    background-color: fuchsia;
}
.faa{grid-row:6;
    grid-column:1;
    text-align: center;
    background-color: indigo;
}
.gaa{grid-row:7;
    grid-column:1;
    text-align: center;
    background-color: forestgreen;
}
.taa{grid-row:8;
    grid-column:1;
    text-align: center;
    background-color: orange;
}
.raa{grid-row:9;
    grid-column:1;
    text-align: center;
    background-color: rosybrown;
}
.iaa{grid-row: 4/10;
    grid-column: 2/5;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.800);
    color: white;
    font-weight: bold;
    z-index: 60;   
}
.aaaa{
    grid-row:4/10;
    grid-column: 4/6;
    background-color: blue;
}
.button {
    background-color: grey;
    border: 2px solid;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 4px;
    border-radius: 12px;
    padding: 15px 32px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    display: block;
}
.buttonTop{
    background-color: grey;
    border: 2px solid;
    color: white;
    text-align: center;
    size: 1cm 1cm;
    font-size: 15px;
    margin: 7px;
    padding:3px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
   

}
