body{
    background-image: url(../Teachers/teacher.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    }
.active {
        color:red;
    }
.TeacherPano{grid-row:4;
        grid-column:1/6;
        text-align: center;
        background-color: rgba(0,0,0, 0.3);
        color: lightgrey;
        font-weight: bold;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        width: 85%;
        padding: 30px;
    }
    